:root {
  --coeff-size-station: 34;
  --background: url("../img/background.jpg") no-repeat;
}

.loading,
.loaded {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  background: url("../img/loading.gif");
  background-repeat: no-repeat;
  background-size: 600px 338px;
  background-position: center;
  background-color: black;
  transition: 0.5s;
}

.loaded {
  z-index: -1;
  background: none;
  opacity: 0;
}

.body_hidden_thumb {
  overflow: hidden;
}

body {
  background: var(--background);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.radiostation {
  width: calc(var(--coeff-size-station) * 6px);
  height: calc(var(--coeff-size-station) * 29.5px);
  margin: auto;
  margin-top: calc(var(--coeff-size-station) / 10 * 1px);
  overflow: hidden;
}

.radiostation_body {
  display: flex;
  flex-direction: column;
  background: url("../img/radiostation_body.png") no-repeat;
  height: 49%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.radiostation_accum_active,
.radiostation_accum_not_active {
  background: url("../img/radiostation_accum.png") no-repeat;
  height: 30%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.radiostation_accum_not_active {
  margin-top: 150%;
}

.radiostation_display {
  border-radius: 5px;
  border: calc(var(--coeff-size-station) / 5 * 1px) solid #212121;
  border-left-width: calc(var(--coeff-size-station) / 5 * 1.5px);
  border-right-width: calc(var(--coeff-size-station) / 5 * 1.5px);
  height: calc(var(--coeff-size-station) / 5 * 12px);
  width: calc(var(--coeff-size-station) / 5 * 16px);
  background: #312a3a;
  margin: auto;
  margin-bottom: 0;
  margin-top: calc(var(--coeff-size-station) / 5 * 12px);
  overflow: hidden;
}

.radiostation_button_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  width: calc(var(--coeff-size-station) / 5 * 17px);
  height: calc(var(--coeff-size-station) / 5 * 4px);
  padding-left: calc(var(--coeff-size-station) / 50 * 5px);
  padding-right: calc(var(--coeff-size-station) / 50 * 5px);
  background: #52524f;
  box-shadow: inset 0px 0 20px 0 black;
  margin: auto;
  margin-bottom: 0;
  margin-top: calc(var(--coeff-size-station) / 10 * 3.05px);
}

.radiostation_button_block:nth-child(3) {
  margin-top: calc(var(--coeff-size-station) / 5 * 3px);
}

.radiostation_button_block:nth-child(5) {
  margin-top: calc(var(--coeff-size-station) / 100 * 25px);
}

.radiostation_power_button {
  margin-top: calc(var(--coeff-size-station) / 9 * 7.2px);
  margin-right: calc(var(--coeff-size-station) / 9 * 7px);
  margin-left: auto;
  margin-bottom: 0;
  width: calc(var(--coeff-size-station) * 1.05px);
  height: calc(var(--coeff-size-station) / 9 * 7px);
  background: url("../img/radiostation_power_button.png") no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: calc(var(--coeff-size-station) / 45 * -3px);
  border-radius: 100%;
  overflow: hidden;
  box-shadow: inset 0px 0 5px 0 black;
  transition: 0.1s;
  cursor: pointer;
}

.radiostation_power_button:active {
  box-shadow: inset 0px 0 10px 0 black;
}

.radiostation_button {
  width: calc(var(--coeff-size-station) / 5 * 5px);
  height: calc(var(--coeff-size-station) / 5 * 3px);
  margin-top: calc(var(--coeff-size-station) / 5 * 0.5px);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: calc(var(--coeff-size-station) / 45 * 22px);
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;
  box-shadow: inset 0px 0 2px 0 black;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  transition: 0.1s;
}

.radiostation_button:active {
  box-shadow: inset 0px 0 7px 0 black;
}

.radiostation_antenna_active {
  height: calc(var(--coeff-size-station) * 8px);
  width: calc(var(--coeff-size-station) * 0.8px);
  margin-right: calc(var(--coeff-size-station) * 1.43px);
  background: #292929;
  margin-left: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.radiostation_antenna_not_active {
  height: calc(var(--coeff-size-station) * 8px);
  width: calc(var(--coeff-size-station) * 0.8px);
  margin-right: calc(var(--coeff-size-station) * 1.43px);
  background: #292929;
  margin-left: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: calc(var(--coeff-size-station) * (-1) * 8px);
  transition: 0.5s;
}

.radiostation_antenna_block {
  height: calc(var(--coeff-size-station) * 8px);
  width: 100%;
  margin-bottom: -10px;
  overflow: hidden;
}

.broadcast_button_block {
  margin-left: 0;
  height: calc(var(--coeff-size-station) * 5.4px);
  width: calc(var(--coeff-size-station) * 1.5px);
  background-color: #52524f;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.controls_open,
.controls_close {
  position: fixed;
  height: calc(var(--coeff-size-station) * 15px);
  width: calc(var(--coeff-size-station) * 1.5px);
  left: 0.5%;
  top: 10%;
  overflow: hidden;
  transition: 0.3s;
}

.controls_close {
  height: 0;
}

.open_controls_button,
.close_controls_button {
  width: calc(var(--coeff-size-station) * 1.2px);
  height: calc(var(--coeff-size-station) * 0.75px);
  position: fixed;
  left: 1%;
  top: 1%;
  cursor: pointer;
}

.open_controls_button div,
.close_controls_button div {
  width: calc(var(--coeff-size-station) * 1.2px);
  height: calc(var(--coeff-size-station) * 0.15px);
  background-color: white;
  border-radius: calc(var(--coeff-size-station) * 0.15px);
  transform-origin: 0 100%;
  transition: 0.3s;
}

.open_controls_button div:not(:nth-child(1)),
.close_controls_button div:not(:nth-child(1)) {
  margin-top: calc(var(--coeff-size-station) * 0.15px);
}

.open_controls_button div:nth-child(3),
.close_controls_button div:nth-child(3) {
  transform-origin: 30% 100%;
}

.close_controls_button div:nth-child(1) {
  transform-origin: 0 100%;
  transform: rotate(45deg);
}

.close_controls_button div:nth-child(2) {
  opacity: 0;
}

.close_controls_button div:nth-child(3) {
  transform-origin: 30% 100%;
  transform: rotate(-45deg);
}

.broadcast_button_top_bolt,
.broadcast_button_bottom_bolt {
  height: calc(var(--coeff-size-station) / 3 * 1px);
  width: calc(var(--coeff-size-station) / 3 * 1px);
  border-radius: 100%;
  background-color: rgb(204, 204, 204);
  margin: auto;
  margin-bottom: 0;
  margin-top: calc(var(--coeff-size-station) / 3 * 1px);
}

.broadcast_button_text {
  font-size: calc(var(--coeff-size-station) / 2 * 1px);
  text-align: center;
  margin-bottom: calc(var(--coeff-size-station) / 100 * 1px);
  margin-top: calc(var(--coeff-size-station) / 10 * 1px);
  font-family: DejaVu Sans Mono, monospace;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.broadcast_button {
  height: calc(var(--coeff-size-station) * 3px);
  width: calc(var(--coeff-size-station) * 1px);
  background-color: #292929;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 7px;
  box-shadow: inset 0 0 10px 0 black;
  transition: 0.2s;
  cursor: pointer;
}

.broadcast_button:active {
  box-shadow: inset 0 0 5px 0 black;
}

.controls_call_broadcast_open {
  height: calc(var(--coeff-size-station) * 5.6px);
  width: calc(var(--coeff-size-station) * 1.5px);
  overflow: hidden;
}

.controls_call_broadcast_close {
  height: 0;
  width: 0;
  overflow: hidden;
}

.call_text,
.broadcast_text {
  font-size: calc(var(--coeff-size-station) / 2 * 1px);
  text-align: center;
  font-family: DejaVu Sans Mono, monospace;
  margin-bottom: calc(var(--coeff-size-station) / 45 * 2px);
  color: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.call,
.broadcast {
  width: calc(var(--coeff-size-station) * 1.4px);
  height: calc(var(--coeff-size-station) * 1.4px);
  margin: auto;
  margin-top: 0;
  border-radius: 100%;
  background: #292929;
  box-shadow: inset 0 0 10px 0 black;
  cursor: pointer;
  transition: 0.2s;
}

.call:active,
.broadcast:active {
  box-shadow: inset 0 0 5px 0 black;
}

.records_button,
.records_button_close,
.connect_controls_button,
.connect_controls_button_close {
  background: url("../img/socket.png") no-repeat;
  width: calc(var(--coeff-size-station) * 1.5px);
  height: calc(var(--coeff-size-station) * 1.5px);
  background-color: white;
  background-size: 75%;
  box-shadow: inset 0 0 10px 0 black;
  font-size: calc(var(--coeff-size-station) / 40 * 18px);
  text-align: center;
  font-family: DejaVu Sans Mono, monospace;
  margin-bottom: calc(var(--coeff-size-station) / 45 * 2px);
  color: white;
  border-radius: 100%;
  position: fixed;
  background-position: calc(var(--coeff-size-station) / 45 * 11px);
  padding: calc(var(--coeff-size-station) / 20 * 5px);
  padding-bottom: 0;
  padding-top: calc(var(--coeff-size-station) / 20 * 7px);
  right: 1%;
  bottom: 1%;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  left: auto;
  transition: 0.2s;
}

.records_button,
.records_button_close {
  background: url("../img/records.png") no-repeat;
  background-color: white;
  background-size: 75%;
  background-position: calc(var(--coeff-size-station) / 45 * 11px);
  z-index: 3;
  right: auto;
  left: 1%;
}

.records_button_close,
.connect_controls_button_close {
  background: url("../img/close.png") no-repeat;
  background-color: white;
  background-size: 50%;
  background-position: calc(var(--coeff-size-station) / 45 * 22px);
}

.connect_controls_button_close:active,
.records_button_close:active,
.records_button:active,
.connect_controls_button:active,
.connect_controls_block_open div:active,
.connect_controls_block_close div:active {
  box-shadow: inset 0 0 5px 0 black;
  text-shadow: 0 0 5px white;
}

.connect_controls_block_open,
.connect_controls_block_close {
  width: calc(var(--coeff-size-station) * 3.5px);
  height: calc(var(--coeff-size-station) / 10 * 82px);
  border-radius: calc(var(--coeff-size-station) / 8 * 5px);
  box-shadow: inset 0 0 10px 0 black;
  position: fixed;
  right: 1%;
  left: auto;
  top: 35%;
  background: #52524f;
  transition: 0.4s;
}

.connect_controls_block_close {
  right: calc(var(--coeff-size-station) * 4px * (-1));
  opacity: 0;
}

.connect_controls_block_open p,
.connect_controls_block_close p {
  font-size: calc(var(--coeff-size-station) / 40 * 18px);
  text-align: center;
  font-family: DejaVu Sans Mono, monospace;
  margin-bottom: calc(var(--coeff-size-station) / 45 * 2px);
  color: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.connect_controls_block_open div,
.connect_controls_block_close div {
  width: calc(var(--coeff-size-station) * 3px);
  height: calc(var(--coeff-size-station) * 1.5px);
  border-radius: calc(var(--coeff-size-station) * 1.5px);
  background: #292929;
  box-shadow: inset 0 0 15px 0 black;
  margin: auto;
  margin-top: calc(var(--coeff-size-station) / 10 * 1px);
  cursor: pointer;
}

.records_block_active,
.records_block_not_active {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000000d0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
}

.records_block_not_active {
  opacity: 0;
  z-index: -1;
}

.records_head_text {
  margin-top: calc(var(--coeff-size-station) / 45 * 45px);
  font-size: calc(var(--coeff-size-station) / 45 * 36px);
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;
  color: white;
}

.records_block {
  width: calc(var(--coeff-size-station) / 45 * 600px);
  height: calc(100% - var(--coeff-size-station) / 45 * 235px);
  margin: auto;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.records_block::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.records_block::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

.records_block::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #52524f, white);
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

.audio_block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid white;
}

.audio_block p {
  width: 50%;
  font-family: DejaVu Sans Mono, monospace;
  margin: auto;
  font-size: 15px;
  text-align: center;
  color: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.audio_block audio {
  height: 80%;
  margin-top: calc(var(--coeff-size-station) / 45 * 5px);
  outline: none;
  margin-right: 2px;
}

.arrow_block {
  width: calc(var(--coeff-size-station) * 2px);
  height: calc(var(--coeff-size-station) * 1.4px);
  background: transparent;
  margin: 0;
  margin-right: calc(var(--coeff-size-station) * 0.9px);
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.arrow_left {
  background: url("../img/arrow_left.png") no-repeat;
  width: calc(var(--coeff-size-station) / 10 * 5px);
  height: 35%;
  background-size: 100%;
  margin-top: auto;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
  margin-left: 2px;
}

.arrow_right {
  background: url("../img/arrow_right.png") no-repeat;
  width: calc(var(--coeff-size-station) / 10 * 5px);
  height: 35%;
  background-size: 100%;
  margin-top: auto;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
  margin-right: 2px;
}

.arrow_block:hover .arrow_left,
.arrow_block:hover .arrow_right {
  opacity: 0.5;
}

.arrow_block .arrow_left:hover,
.arrow_block .arrow_right:hover {
  opacity: 1;
}

.arrow_block .arrow_right:active {
  margin-right: 0;
}

.arrow_block .arrow_left:active {
  margin-left: 0;
}

#button_cancel {
  font-size: calc(var(--coeff-size-station) / 45 * 23px);
}

#button_star {
  font-size: calc(var(--coeff-size-station) / 45 * 30px);
}

@media screen and (max-height: 900px) {
  :root {
    --coeff-size-station: 23;
  }

  .radiostation_button,
  .radiostation_power_button,
  .radiostation_antenna_active,
  .broadcast_button,
  .radiostation_accum_active,
  .open_controls_button,
  .close_controls_button,
  .call,
  .broadcast,
  .connect_controls_button,
  .connect_controls_block_open div,
  .connect_controls_block_close div,
  .records_button,
  .records_button_close,
  .connect_controls_button_close,
  .arrow_left,
  .arrow_right {
    cursor: auto;
  }

  .controls_open,
  .controls_close {
    left: 2%;
    top: 15%;
  }

  .connect_controls_button,
  .connect_controls_button_close,
  .records_button,
  .records_button_close {
    bottom: 2%;
  }

  .open_controls_button,
  .close_controls_button {
    left: 2.5%;
  }
}
