@import "main.css";

:root {
  --network_img: url("../img/no_network.png") no-repeat;
  --battery_img: url("../img/battery.png") no-repeat;
  --power_img: url("../img/nominal_power.png") no-repeat;
  --sound_type_img: url("../img/speaker.png") no-repeat;
  --key_img: url("../img/key.png") no-repeat;
}

.not_active {
  height: 0;
  opacity: 0;
}

.active {
  opacity: 1;
}

.network {
  margin-top: 0;
  width: 10%;
  height: -webkit-fill-available;
  background: var(--network_img);
  background-size: cover;
  margin-left: 2px;
}

#top_block {
  height: 15%;
  width: 100%;
  background: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

#active_zone {
  height: 72%;
  width: 100%;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

#bottom_block {
  height: 12%;
  width: 100%;
  background: black;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.time {
  color: white;
  font-family: DejaVu Sans Mono, monospace;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: 8px;
  margin: auto;
  margin-right: 2px;
  margin-left: 0;
}

.battery {
  margin-top: 0;
  width: 11%;
  height: -webkit-fill-available;
  background: var(--battery_img);
  background-size: cover;
}

.power {
  margin-top: 0;
  width: 12%;
  height: -webkit-fill-available;
  background: var(--power_img);
  background-size: cover;
}

.sound_type {
  margin-top: 1.5px;
  width: 8%;
  height: -webkit-fill-available;
  background: var(--sound_type_img);
  background-size: 100%;
}

.key {
  margin-top: 2px;
  margin-left: 1px;
  width: 7%;
  height: -webkit-fill-available;
  background: var(--key_img);
  background-size: 100%;
}

.operating_mode {
  color: white;
  font-family: DejaVu Sans Mono, monospace;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: 6px;
  margin: auto;
  margin-right: 2px;
}

.common_block_channel {
  width: 100%;
  height: 45%;
  background: transparent;
  margin: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.block_channel {
  width: 58%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 1%;
}

.block_channel:nth-child(1) {
  width: 30%;
  margin-left: 1%;
}

#top_text_channel,
#common_top_text_channel {
  height: 42%;
  padding-top: 8%;
  width: 100%;
  margin: 0;
  background: rgba(188, 240, 245, 0.9);
  box-shadow: inset 0 0 1px 0 black;
  font-size: 7px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#common_top_text_channel {
  height: 42%;
  padding-top: 4%;
}

#active_zone .active {
  width: 100%;
  height: 100%;
}

#bottom_text_channel,
#bottom_text_frequency {
  height: 47%;
  padding-top: 3%;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
  background: white;
  box-shadow: inset 0 0 1px 0 black;
  font-size: 7px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.menu_block {
  height: 100%;
  width: 95%;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: auto;
  margin-bottom: 0;
  overflow: hidden;
}

.menu_point,
.menu_point_bold,
.menu_point_little {
  width: 80%;
  height: 13%;
  margin: auto;
  margin-top: 1%;
  background: rgb(240, 240, 240);
  border: 0.2px solid black;
  border-radius: 1px;
  font-size: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  overflow: hidden;
}

.menu_point_little {
  font-size: 6px;
}

.menu_point_bold {
  font-weight: 600;
  font-size: 8px;
}

.top_text_menu {
  margin: auto;
  margin-top: 0;
  width: 100%;
  height: 20%;
  background: rgb(147, 199, 204);
  box-shadow: inset 0 0 1px 0 black;
  font-size: 9px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.text_info,
.little_letter_text_info {
  font-size: 9px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.little_letter_text_info {
  font-size: 7px;
}

#block {
  color: darkgray;
}

#left_bottom_button,
#center_bottom_button,
#right_bottom_button {
  width: 33%;
  height: 100%;
  background: rgba(188, 240, 245, 0.9);
  border-radius: 2px;
  box-shadow: inset 0 0 3px 0 black;
  font-size: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#current_position {
  color: red;
}

#scroll_main_menu {
  margin-bottom: -17%;
}

@media screen and (max-height: 900px) {
  #left_bottom_button,
  #center_bottom_button,
  #right_bottom_button {
    font-size: 5px;
  }

  .block_channel {
    border-radius: 3px;
  }

  #top_text_channel,
  #bottom_text_channel,
  #common_top_text_channel,
  #bottom_text_frequency {
    font-size: 5px;
  }

  .top_text_menu,
  .text_info {
    font-size: 6px;
  }

  .little_letter_text_info {
    font-size: 4px;
  }

  .time {
    font-size: 6px;
  }

  .menu_point_little {
    font-size: 3.5px;
  }

  .menu_point_bold,
  .menu_point {
    font-size: 4.5px;
  }
}
